<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


	<!-- Include our stylesheet -->
	<link href="assets/css/styles.css" rel="stylesheet"/>

</head>
<body>
<div>
<h1>Bookmarks</h1>

<%= current_user.name %>
<%= current_user.email %>
</div>
	<div class="filemanager">

		<div class="search">
			<input type="search" placeholder="Find a file.." />
		</div>

		<div class="breadcrumbs"></div>

		<ul class="data">
			<li><div class="file icon f-html">
 			</div><p class="filemanager data name">http://yahoo.com/</p></li>
		</ul>

		<div class="nothingfound">
			<div class="nofiles"></div>
			<span>No files here.</span>
		</div>

	</div>
	
	</div>
	<div class="folder icon">
 	</div>

 	<div class="file icon">
 	</div>

 	 	<div class="file icon f-html">
 	</div>
 	<div class="file icon f-wmv">
 	</div>
 	<div class="file icon f-mp3">
 	</div>
 	<div class="file icon f-doc">
 	</div>
 	<div class="file icon f-deb">
 	</div>
 	<div class="file icon f-js">
 	</div>
 	<div class="file icon f-css">
 	</div>
 	<div class="file icon f-pdf">
 	</div>


	<!-- Include our script files -->
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="assets/js/script.js"></script>

</body>
</html>

