<h1>All users</h1>
<h3>This page will serve as a placeholder. Use this method for dislaying all bookmarks</h3>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>