@import "bootstrap-sprockets";
@import "bootstrap";
/* WARNING: Bootstrap defaults mess up search icon in bookmarks view due to conflicting css
between bootstrap and cute file browser styles;*/
@charset "utf-8";
/* --------------
	Testing Area
-----------------*/

body {
  color: white;
}


body {
	background-color: #23232e;
	font: 14px normal Arial, Helvetica, sans-serif;
	max-width: 100%;
}


/*-----------------------
	Bookmarks Styling
------------------------*/

.fa.fa-folder-o {
	font-size: 3em;
	float: left;
	margin-right: 15px;
}

.fa.fa-file-o {
	font-size: 1.5em;
	margin-right: 10px;
}
dl {
	background-color: #23232e;
	border: solid;
	border-color: grey;
	display: inline-block;
	max-height: 1em;

}


dt {
	background-color: #23232e;
	border: solid;
	border-color: grey;
	margin-left: 20px;
}

dl dt h3 {
	font-size: 1em;
	line-height: 1.5em;
}